<figure class="splash-image" style="background-image:url(<%= asset_url("shutterstock_134752781.png") %>);" >
  <%= image_tag("QuizCzar.png")%>
  <nav class="splash-nav group">
    <a class="sign-in-link">
      Sign In
    </a>
    <%= link_to "Log in with Facebook", "/auth/facebook", class: "sign-in-facebook"%>
    <div class="sign-in hidden">
      <%= render "session/new" %>
    </div>
  </nav>
  <button class="sign-up-button">Sign Up</button>
</figure>


<script>
  $('.sign-up-button').on("click", function(event){
    event.preventDefault()
    window.location.href =  "<%= new_user_url %>"
  });

  $('.sign-in-link').on("click", function(event){
    $(".sign-in").toggleClass("hidden");
  });
</script>
