<figure class="splash-image" style="background-image:url(<%= asset_url("shutterstock_134752781.jpg") %>);" >
  <%= image_tag("QuizCzar.png")%>
  <nav class="splash-nav group">
    <a class="sign-in-link">
      Sign In
    </a>
    <%= link_to "Log in with Facebook", "/auth/facebook", class: "sign-in-facebook"%>
    <div class="sign-in hidden">
      <%= render "session/new" %>
    </div>
  </nav>
  <button class="sign-up-button">Sign Up</button>
</figure>

<%= render "users/new" %>

<script>

  var template = _.template($("#SignUp").html());
  var user = {};
  var errors = _({});

  $('.sign-up-button').on("click", function(event){
    event.preventDefault()
    var model = $('<div id="model">');
    var content = $('<div id="model-content">');
    content.html(template({user: user, errors: errors}));
    model.append(content)
    $("body").append(model);
  });

  $('.sign-in-link').on("click", function(event) {
    $(".sign-in").toggleClass("hidden");
  });
</script>
