<td class="name-column">
  <a href="#quizzes/<%= quiz.id %>"><%= quiz.escape("name")%></a>
</td>


<% if (options.author) { %>
  <td class="author-column">
    <a href="#users/<%= quiz.user.id %>"><%= quiz.user.escape("name") %></a>
  </td>
<% } %>


<td class="high-score-column">
  <% if (high_score) { %>
    <a href="#quizzes/<%= quiz.id %>" class="quiz-table-edit">
      <%= QuizCzar.calculate_percentage(
        parseInt(high_score.get("correct_answers")),
        parseInt(high_score.get("number_of_questions"))
      )%>%
    </a>
  <% } %>
</td>

<% if (options.edit) { %>
  <td class="edit-column">
    <a href="#quizzes/<%= quiz.id %>/edit" class="quiz-table-edit">Edit</a>
  </td>
<% } %>

<% if (options.delete) { %>
  <td class="delete-column">
    <a class="x-link" href="#quizzes/<%= quiz.id %>/delete" class="quiz-table-delete">
      <figure class="x">+</figure>
    </a>
  </td></a>
<% } %>

<td>
</td>
