<td><a href="#quizzes/<%= quiz.id %>"><%= quiz.escape("name")%></a></td>


<% if (options.author) { %>
  <td><%= quiz.user.escape("name") %></td>
<% } %>


<td>
  <% if (high_score) { %>
    <%= QuizCzar.calculate_percentage(
      parseInt(high_score.get("correct_answers")),
      parseInt(high_score.get("number_of_questions"))
    )%>%
  <% } %>
</td>



<% if (options.edit) { %>
  <td><a href="#quizzes/<%= quiz.id %>/edit" class="quiz-table-edit">Edit</a></td>
<% } %>
