<nav class="quiz-show-bar">
  <% if (high_score) { %>
    <figure class="quiz-show-score">
      <%= QuizCzar.calculate_percentage(
        parseInt(high_score.get("correct_answers")),
        parseInt(high_score.get("number_of_questions"))
      )%>%
    </figure>
    <label>My High Score</label>
  <% } %>
  <figure class="show-bar-line"></figure>
  <ul>
    <li>
      <figure class="take-quiz-icon"></figure>
      <label>Take Quiz</label>
    </li>
  </ul>
  <figure class="show-bar-line"></figure>
</nav>

<section class="quiz-show-content">
  <section class="page-header">
    <%= quiz.escape("name") %>
    <% if (quiz.user) { %>
      <a class="link" href="#users/<%= quiz.user.id %>">
        <h5 class="subheader"><%= quiz.user.escape("name") %></h1>
      </a>
    <% } %>
    <div class="fb-like-container">
      <div class="fb-like" data-href="http://www.QuizCzar.io/#/quizzes/<%= quiz.id %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </section>

  <section class="quiz-show-grades"></section>
</section>
